body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #d17b8b, #f29d8a); 
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
  
  .container {
    z-index: 1;
    text-align: center;
    padding: 2rem;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  #reveal-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #bb627f;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  #reveal-btn:active {
    transform: scale(0.98);
  }
  
  #message {
    margin-top: 2rem;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  #message.show {
  opacity: 1;
}
  
  .subtitle {
    color: #000000;
    margin-top: 0.5rem;
    font-weight: 700;
  }
  
  .hidden {
    display: none;
  }  
  .balloon {
    width: 50px;
    height: 60px;
    background-color: rgb(160, 55, 90);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: floatUp 4s linear forwards ;
    z-index: 2;
  }
  
  
  
  .balloon:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 2px;
    height: 15px;
    background-color: rgb(224, 224, 224);
    transform: translateX(-50%);
  }
  @keyframes floatUp {
    0% {
      bottom: 0;
      opacity: 0.75;
    }
    100% {
      bottom: 100vh;
      opacity: 0.75;
    }
  }
  
  @keyframes glow {
    0%, 100% { text-shadow: 0 0 10px #ff66cc, 0 0 20px #ff66cc; }
    50% { text-shadow: 0 0 20px #ff99cc, 0 0 30px #ff99cc; }
  }
  h1 {
    animation: glow 2s ease-in-out infinite;
  }
  
  #candle-section {
    margin-top: 50px;
    text-align: center;
  }
  
  .candle {
    width: 20px;
    height: 60px;
    background-color: #8b4513;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
  }
  
  .flame {
    width: 15px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    animation: flicker 0.15s infinite;
    box-shadow: 0 0 20px orange;
    cursor: pointer;
  }
  
  @keyframes flicker {
    0%   { transform: translateX(-50%) scale(1); opacity: 1; }
    50%  { transform: translateX(-48%) scale(1.1); opacity: 0.8; }
    100% { transform: translateX(-50%) scale(1); opacity: 1; }
  }
  
  .make-a-wish {
    font-size: 1rem;
    margin-top: 10px;
    color: #616161;
    font-style: italic;
  }
  
  #first-msg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
  }
  
  #first-msg.hidden {
    display: none;
  }
  
  .gl-text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  

  #first-question {
    text-align: center;
    margin-top: 40px;
  }
  
  .question-text {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .question-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #response {
    text-align: center;
    margin-top: 30px;
  }
  
  #response-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ff4c4c;
    margin-bottom: 10px;
  }
  
  #retry-text {
    font-size: 0.95rem;
    color: #888;
    margin-top: 10px;
  }
  
  .flash {
    animation: flash 0.6s ease-in-out;
  }
  
  @keyframes flash {
    0% { background-color: #fff; }
    50% { background-color: #fcdede; }
    100% { background-color: #fff; }
  }
  